#banner{
margin: 5px;
padding: 15px;
background-color: B0B0B0;
color: 003399;
font-family: "Century Gothic";
}
#title {
font-size: 40px;
}
#menu {
text-align: right;
font-size: 20px;
}
#login {
font-size: 25px;
margin: 5px;
padding: 15px;
color: 003399;
font-family: "Century Gothic";
}
#all {
width: 80%;
font-size: 20px;
margin: 5px;
cellpadding: 10px;
cellspacing: 10px;
color: 003399;
font-family: "Century Gothic";
text-align: center;
}
#th {
font-size: 15px;
}
.submitButton {
border: 2px solid;
border-color: 003399; 
color: 003399;
font-size: 20px;
background-color: B0B0B0;
}
#form {
font-size: 20px;
margin: 5px;
padding: 15px;
color: 003399;
font-family: "Century Gothic";
}
#view {
font-size: 20px;
margin: 5px;
padding: 15px;
color: 003399;
font-family: "Century Gothic";
}
